/* Estilos generales */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #f0f8f5;
  color: #2f4f4f;
}

main {
  max-width: 900px;
  margin: 0 auto 2rem auto;
}

h2 {
  margin-bottom: 1rem;
  color: #1b4d3e;
}

a:hover,
a:focus {
  font-weight: bold;
}

button {
  background-color: #2a7a4a;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover,
button:focus {
  background-color: #245d38;
  outline: none;
  background-color: grey
}

ul {
  margin-left: 2rem;
  text-align: left;
}


/* Cabecera */
header {
  position: sticky;
  top: 0;
  background-color: rgb(228, 228, 228);
  color: #2a7a4a;
  padding: 1rem 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 1px 10px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.col-header-logo img {
  margin-left: 20px;
  max-height: 120px;
  height: auto;
  width: auto;
}

.col-header-logo {
  flex: 0 1 auto;
}

.col-header-menu {
  flex: 1 1 300px;
  text-align: center;
}

header h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

header h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #2a7a4a;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav a {
  color: #2a7a4a;
  text-decoration: none;
  font-weight: 600;
}

nav a[aria-current="page"] {
  border-bottom: 2px solid #2a7a4a;
  padding-bottom: 2px;
}


/* Pie de página */
footer {
  text-align: justify;
  padding: 1rem 0;
  background-color: #2a7a4a;
  color: white;
  margin-top: 3rem;
}

.columnas-footer {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-footer {
  flex: 1;
  min-width: 200px;
  padding: 0 3rem;
  font-size: 1.0rem;
}

#servicios {
  max-width: 400px;
}

.col-footer h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  width: 50%;
}

.col-footer ul {
  padding-left: 1rem;
}

.col-footer ul li {
  margin-bottom: 0.5rem;
}

.col-footer a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.col-footer a:hover {
  font-weight: bold;
}

#derechos {
  text-align: center;
}


/* Estilos página Inicio */
#presentacion,
#nuestra-historia,
#beneficios,
#datos-contacto,
#info-general {
  font-size: 1.1rem;
}

#presentacion p, #presentacion ul, #presentacion li,
#nuestra-historia p,
#beneficios p,
#datos-contacto p, #datos-contacto ul, #datos-contacto li,
#info-general p, #info-general ul, #info-general li {
  margin-bottom: 1.5rem;
  text-align: justify;
}

#datos-contacto ul {
  list-style-type: none;
}

#nuestra-historia-logo {
  display: block;
  margin: 0 auto;
}

/* Carrusel */
.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  min-height: 32rem;
}

.slide {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-around;
  gap: 1rem;
}

.evento-destacado {
  flex: 1;
  max-width: 30%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
}

.evento-destacado img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.evento-destacado h3 {
  margin: 0.5rem 0;
  height: 4rem;
}

.evento-destacado p {
  font-size: 0.9rem;
  height: 3rem;
}

.evento-destacado button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 1;
}

.carrusel-btn:hover {
  background-color: #2a7a4a;
}

.carrusel-btn-inscribirse {
  height: 2.5rem;
  font-size: medium;
  margin-right: 1.2rem;
}

.carrusel-btn.prev {
  left: 0;
}

.carrusel-btn.next {
  right: 0;
}

.indicadores {
  text-align: center;
  margin-top: 1rem;
}

.punto {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.punto.activo {
  background-color: #2a7a4a;
}


/* Estilos Listado de Eventos */
label {
  margin-right: 0.5rem;
}

select {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  border: 2px solid #2a7a4a;
  font-size: 1rem;
  margin-bottom: 3rem;
}

/* Tabla de eventos */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #c2c2c2;
}

th {
  background-color: #2a7a4a;
  color: white;
}

tbody tr:hover {
  background-color: #e3f0e5;
}

a {
  color: #2a7a4a;
  text-decoration: none;
  font-weight: 600;
}


/* Estilos páginas individuales de los eventos */
#main-evento {
  max-width: 1200px;
}

.evento-detalle {
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.evento-detalle div {
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.cabecera-evento {
  width: 100%;
}

.info-evento,
.agenda-evento {
  flex: 1 1 65%;
  min-width: 300px;
}

.org-evento,
.ponentes-evento {
  flex: 1 1 28%;
  min-width: 200px;
}

.evento-detalle img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

.evento-detalle h2 {
  margin-bottom: 1rem;
  color: #2a7a4a;
}

.evento-detalle h3 {
  margin-bottom: 1rem;
  color: #2a7a4a;
}

.evento-detalle p {
  margin-bottom: 0.5rem;
}

.evento-detalle hr {
  margin: 1rem;
  height: 0.3rem;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: #2a7a4a;
}

.btn {
  height: 3rem;
  font-size: medium;
  margin-right: 1.2rem;
}

.btn-cancelar {
  background-color: rgb(255, 79, 79);
}

.hora-agenda {
  background-color: rgb(221, 221, 221);
  margin-bottom: 2rem;
}

/* Estilos página Iniciar Sesión */
.formulario-sesion {
  width: 80%;
  margin: 40px auto;
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.formulario-sesion h2 {
  text-align: center;
}

.formulario-sesion label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.formulario-sesion input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid grey;
  border-radius: 4px;
}

.formulario-sesion button {
  display: block;
  margin: 2rem auto 0 auto;
  width: 50%;
  padding: 0.5rem;
  background-color: #2a7a4a;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.formulario-sesion p {
  margin-top: 1rem;
}

.campo-cookies {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.campo-cookies label {
  margin: auto;
}

.campo-cookies input {
  width: 5%;
}